.Card {
  width: fit-content;
  padding: 4px;
  height: fit-content;
  color: black;
  background-color: rgba(235, 235, 235, 0.3);
  backdrop-filter: blur(8px);
  border-radius: 5%;
  border: 2px solid rgb(0, 0, 0);
}
.Card-title {
  font-size: 30px;
}
.Card-content {
  display: flex;
  flex-direction: column;
}
