.PatientSidebar {
  width: 75px;
  height: 100vh;
  background: rgb(102, 255, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
}

.PatientSidebar-top-container {
  margin-top: 10px;
}

.PatientSidebar-mid-container {
  background-color: rgb(72, 225, 0);
  border-radius: 5px;
  box-shadow: black;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  height: 70vh;
  overflow: auto;
}
.PatientSidebar-mid-container > button {
  font-size: 50px;
  margin: 10px 0;
  background: none;
  border: none;
  outline: none;
  transition: all 0.3s;
}
.PatientSidebar-mid-container > button:hover {
  cursor: pointer;
  color: rgb(51, 51, 51);
  transition: all 0.3s;
}
.PatientSidebar-icon {
  width: 50px;
  height: auto;
}

.PatientSidebar-bot-container > button {
  font-size: 50px;
  background: none;
  border: none;
  outline: none;
}
.PatientSidebar-bot-container > button :hover {
  cursor: pointer;
}
