.patient-blood-test-modal {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background: rgba(25,25,25, 0.9);
  backdrop-filter: blur(50px);
  color: white;
  overflow: auto;
}
.patient-blood-test-modal-date{
  text-align: center;
  margin-bottom: 50px;
}
.patient-blood-test-modal-container {
  display: flex;
  flex-direction: column;
}
.patient-blood-test-modal-quit {
  color: red;
  font-size: 50px;
  width: fit-content;
  height: fit-content;
  background: none;
  border:none;
  border-right: 3px solid red;
  border-bottom: 3px solid red;
  border-bottom-right-radius: 5px;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}
.patient-blood-test-modal-quit:hover {
  cursor: pointer;
}
.patient-blood-test-blood-test-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
