.patient-blood-test-modal {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background: rgb(25,25,25);
  color: white;
  overflow: auto;
}

.patient-blood-test-modal-date{
  text-align: center;
  margin-bottom: 50px;
}
.patient-blood-test-modal-container {
  display: flex;
  flex-direction: column;
}
.patient-blood-test-modal-quit {
  color: rgb(102, 255, 0);
  font-size: 50px;
  width: fit-content;
  height: fit-content;
  background: none;
  border:none;
  border-right: 3px solid rgb(102, 255, 0);
  border-bottom: 3px solid rgb(102, 255, 0);
  border-bottom-right-radius: 5px;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}
.patient-blood-test-modal-quit:hover {
  cursor: pointer;
  background-color: rgb(102,255,0,0.05);
}
.patient-blood-test-blood-test-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
