.AddNew-page{
    background: url("../assets/background.png");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-form{
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 800px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
}
.form-input{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.form-input > input{
    margin: 20px;
}
.form-text{
    width: 45%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: flex-end;
    font-weight: bold;
}
.form-text > label{
    margin: 28px;
}
.AddNew-page > button{
    margin-top: 30px;
}
