.Github-page {
  background: url("../assets/background.png");
  background-size: cover;
  min-height: 100vh;
}

.Github {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Github-top-container {
  display: flex;
  justify-content: center;
  width: 60%;
}
.Github-logo {
  width: 25%;
  height: auto;
}
.Github-bot-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.Git-link-container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 1000px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  margin-top: 60px;
  color: white;
  font-size: 25px;
}
.Git-link {
  width: 1000px;
  height: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.LinkBtn {
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 2%;
  font-weight: bold;
  background: rgb(136, 255, 0);
  color: white;
  cursor: pointer;
  font-size: 18px;
}
.Title {
  margin-top: 15px;
}
