.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../assets/background.png");
  background-size: cover;
  min-height: 100vh;
}
.hom-main-container {
  display: flex;
  flex-direction: column;
}
.home-top-container {
  text-align: center;
  height: 230px;
  width: 2000px;
  font-size: 25px;
  color: white;
}
.title {
  font-size: 70px;
  margin: 25px;
  color: white;
}
.home-bot-container {
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

