.patients {
  background: url("../assets/background.png");
  background-size: cover;
  min-height: 100vh;
}
.NewPatientBtn{
    text-align: center;
    width: 230px;
    height: 55px;
    text-decoration: none;
    border-radius: 40px;
    font-weight: bold;
    border: 2px solid rgb(136, 255, 0);
    background: transparent;
    color: white;
    font-size: 19px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.patients-mid-container {
  display: flex;
  flex-direction: row;
}
.patients-right {
  width: 100px;
}
.patients-left {
  width: 100px;
}
.patients-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.patients-top-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
}
.patients-top-right {
  display: flex;
  margin: 20px;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}
.patients-top-left {
    width: 50%;
  }
.blood-selection {
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  width: 230px;
  height: 55px;
  text-decoration: none;
  border-radius: 40px;
  font-weight: bold;
  border: 2px solid rgb(136, 255, 0);
  background: transparent;
  color: white;
  font-size: 19px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::placeholder {
  color: white;
  font-weight: bold;
}
input {
  height: 50px;
  margin-top: 3px;
  outline: none;
  border: none;
  width: 300px;
  padding-left: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 2%;
  border: 2px solid rgb(136, 255, 0);
  color: white;
  font-weight: bold;
}
input:focus {
  background: rgba(0, 0, 0, 0.5);
}

table {
  width: 100%;
  border-collapse: collapse;
}

.patients-table-container {
  max-height: 100vh;
  width: 100%;
  overflow: auto;
  border: 2px solid rgb(136, 255, 0);
  height: 700px;
}

.patients-table-container thead th {
  /*position: sticky;*/
  top: 0;
  background-color: rgb(136, 255, 0);
  color: white;
  font-size: 20px;
}
th,
td {
  border: 2px solid rgb(136, 255, 0);
  padding: 10px 10px;
  font-size: 15px;
  color: white;
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.5);
}

tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.3);
}

tr:hover td {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}
.trashBtn{
  text-align: center;
  width: 35px;
  height: 25px;
  text-decoration: none;
  border-radius: 40px;
  font-weight: bold;
  border: 2px solid rgb(136, 255, 0);
  background: transparent;
  font-size: 15px;
  transition: ease-out 0.3s;
  cursor: pointer;
  color: white;
  
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px black;
}

.modalData-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: url("../assets/background.png");
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 2000px;
  min-width: 300px;
  color: white;
  cursor: auto;
  width: 1000px;
  height: 850px;
}
.modalData-content > h1{
  font-size: 40px;
  text-align: center;
}
.modalData-content > thead, th{
  top: 0;
  background-color: rgb(136, 255, 0);
  color: white;
  font-size: 20px;
}
.modal-table-container{
  max-height: 100vh;
  width: 100%;
  overflow: auto;
  border: 2px solid rgb(136, 255, 0);
  height: 620px;
  margin-top: 30px;
}
.modalData-content > .close-modal{
  height: 40px;
  cursor: pointer;
}
.ModalDataContent{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: url("../assets/background.png");
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 2000px;
  min-width: 300px;
  color: white;
  cursor: auto;
  width: 1000px;
  height: 850px;
}
.ModalDataContent > h1{
  text-align: center;
  font-size: 30px;
}
.ModalDataContent > .close-modal{
  height: 40px;
  cursor: pointer;
}
.ModalDataForm{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ModalDataForm-left{
  padding-bottom: 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ModalDataForm-right{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ModalDataForm-right > input{
  margin: 60px;
}
.ModalDataForm-right > select{
  text-align: center;
  width: 250px;
  height: 40px;
  text-decoration: none;
  border-radius: 40px;
  font-weight: bold;
  border: 2px solid rgb(136, 255, 0);
  background: transparent;
  font-size: 15px;
  transition: ease-out 0.3s;
  cursor: pointer;
  color: white;
  margin: 60px;

}
.ModalDataForm-left > h1{
  font-size: 30px;
  margin: 60px;
}
select option {
  margin: 40px;
  background: rgb(136, 255, 0);
  font-size: 18px;
  color: white;
}
.ModalDataForm-right > button{
  text-align: center;
  width: 150px;
  height: 40px;
  text-decoration: none;
  border-radius: 40px;
  font-weight: bold;
  border: 2px solid rgb(136, 255, 0);
  background-color: rgb(136, 255, 0);
  font-size: 15px;
  transition: ease-out 0.3s;
  cursor: pointer;
  color: white;
  margin-left: -460px;
}
.ModalPasswordForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ModalPasswordForm > input{
  margin-bottom: 100px;
}
.ModalPasswordForm > label{
  font-size: 25px;
  font-weight: bold;
  margin-top: 200px;
}

.ModalPasswordForm > button{
  text-align: center;
  width: 150px;
  height: 40px;
  text-decoration: none;
  border-radius: 40px;
  font-weight: bold;
  border: 2px solid rgb(136, 255, 0);
  background-color: rgb(136, 255, 0);
  font-size: 15px;
  transition: ease-out 0.3s;
  cursor: pointer;
  color: white;
}
@media (max-width: 1200px) {
  .patients-right {
    width: 20px;
  }
  .patients-left {
    width: 20px;
  }
  .patients-top-right {
    display: flex;
    margin: 20px;
    flex-direction: row;
    width: 900px;
    justify-content: space-around;
  }
  .patients-top-left {
      width: 200px;
    }
}
@media (max-height: 800px) {
  .patients-table-container {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: 2px solid rgb(136, 255, 0);
    height: 380px;
  }
}
