.homeBtn {
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  width: 8%;
  height: 20%;
  text-decoration: none;
  border-radius: 40px;
  font-weight: bold;
  border: 2px solid rgb(136, 255, 0);
  background: transparent;
  color: white;
  font-size: 19px;
  transition: ease-out 0.3s;
  position: relative;
  z-index: 1;
}
.homeBtn:hover {
  color: white;
  cursor: pointer;
}
.homeBtn:before {
  transition: 0.5s all ease;
  position: absolute;
  border-radius: 40px;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: rgb(136, 255, 0);
}
.homeBtn:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}
