.ModalDataBtn {
  text-align: center;
  width: 100px;
  height: 30px;
  text-decoration: none;
  border-radius: 40px;
  font-weight: bold;
  border: 2px solid rgb(136, 255, 0);
  background: transparent;
  color: white;
  font-size: 15px;
  transition: ease-out 0.3s;
  /*position: relative;*/
  z-index: 1;
}
.ModalDataBtn:hover {
  color: white;
  cursor: pointer;
}
.ModalDataBtn:before {
  transition: 0.5s all ease;
  /*position: absolute;*/
  border-radius: 40px;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: rgb(136, 255, 0);
}
.ModalDataBtn:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}
.Modal-container {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 1200px;
  justify-content: center;
  align-items: center;
}
body.active-modal {
  overflow-y: hidden;
}
.ModalModifyBtn {
  background-color: rgb(136, 255, 0);
  border: none;
  border-radius: 2%;
  font-weight: bold;
  font-size: 17px;
  background: rgb(136, 255, 0);
  color: white;
  height: 40px;
  width: 150px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.Modal-container > input {
  margin: 10px;
}
.modalData-content > h1 {
  font-size: 40px;
  margin: 10px;
}
.Modal-container > label {
  font-size: 17px;
}
.modalData,
.overlayData {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlayData {
  background: rgba(0, 0, 0, 0.7);
}
.modalData-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: url("../assets/background.png");
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 2000px;
  min-width: 300px;
  color: white;
  cursor: auto;
}

.close-modalData {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  background-color: rgb(136, 255, 0);
  border: none;
  border-radius: 2%;
  font-weight: bold;
  background: rgb(136, 255, 0);
  color: white;
  height: 5%;
  width: 3%;
  cursor: pointer;
}
@media (max-height: 700px) {
  .Modal-container {
    display: flex;
    flex-direction: column;
    height: 340px;
    width: 850px;
    justify-content: center;
    align-items: center;
  }
  .close-modalData {
    height: 6%;
    width: 3%;
  }
  .modalData-content > h1 {
    font-size: 30px;
    margin: 10px;
  }
  .Modal-container > label {
    font-size: 14px;
  }
  .ModalModifyBtn {
    height: 35px;
    width: 110px;
    margin: 15px;
  }
}
@media (max-width: 1200px) {
  .Modal-container {
    display: flex;
    flex-direction: column;
    width: 850px;
    justify-content: center;
    align-items: center;
  }
}
