.patient-blood-test-modal {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgb(247, 247, 247);
  overflow-y: auto;
  overflow-x: hidden;
}
.patient-blood-test-modal-bar {
  width: 100%;
  height: 25px;
  background-color: rgb(51, 51, 51);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: rgb(247, 247, 247);
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.patient-blood-test-modal-quit {
  color: rgb(102, 255, 0);
  font-size: 20px;
  position: fixed;
  left: 0;
  top: 0;
  background: none;
  border: none;
}
.patient-blood-test-modal-quit:hover {
  cursor: pointer;
}
.patient-blood-test-blood-test-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
