.patient-content-container {
  display: flex;
  flex-direction: column;
}
.patient-content-date-container {
  display: flex;
  flex-direction: column;
  width:fit-content;
}
.patient-content-date-container>Button{
    margin:10px 0;
}