.patient-page-container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: fixed;
  padding: 50px 75px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.patient-page-title {
}
